/* main style sheet*/

body {
  font-family: raleway;
  color: white;
}

header {
  height: 60px;
  background-color: tomato;
}

.headerLogo {
  max-height: 60px;
  padding: 5px;
  display: block;
  float: left;
}

.profileIcon {
  margin-top: -6px;
  max-height: 40px;
  padding: 5px;
  float: left;
  display: block;
  border-radius: 25px;
  transition: .3s;
}

.profileIcon:hover {
  background-color: red;
  box-shadow: 0px 0px 5px red;
  transition: .3s;
}

header ul {
  margin-top: 16px;
  float: right;
  width: 25%;
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.headerMenu li {
  font-size: 1.5em;
}

.headerLink {
  color: #fff;
  text-decoration: none;
  transition: .3s;
}

.headerLink:hover {
  color: #fff;
  text-shadow: 1px 1px 2px #cc1f00;
  text-decoration: none;
  transition: .3s;
}

/*Slider Section -----------------------------------------------------------------*/

.carousel-indicators {
  margin-bottom: 35px;
}

.carousel-indicators li {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  margin: 0 5px 0 5px;
}

.carousel-indicators .active {
  color: tomato;
  background-color: tomato;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  margin: 0 5px 0 5px;
}

.sliderTextWrapper {
  position: absolute;
  z-index: 2;

  margin-left: 15%;
  margin-top: 10%;

  width: 30%;
}

.sliderTextWrapper h2, .sliderTextWrapperTop h2 {
  font-size: 3em;
}

.sliderTextWrapper p, .sliderTextWrapperTop p {
  font-size: 1.5em;
}

.buttonMain1 {
  background-color: tomato;
  color: #fff;
  font-size: 1.5em;
  border-radius: 5px;
  border: 1px solid tomato;
  padding: 7px 10px 7px 10px;
  transition: .3s;
}

.buttonMain1:hover {
  box-shadow: 0px 0px 5px tomato;
  color: red;
  text-decoration: none;
  transition: .3s;
}

.buttonMain2 {
  background-color: none;
  color: tomato;
  font-size: 1.5em;
  border-radius: 5px;
  border: 1px solid tomato;
  box-shadow: 0px 0px 5px red;
  padding: 7px 10px 7px 10px;
  transition: .3s;
}

.buttonMain2:hover {
  background-color: tomato;
  color: #fff;
  text-decoration: none;
  transition: .3s;
}

.buttonMain3 {
  background-color: #fff;
  color: tomato;
  font-size: 1.5em;
  border-radius: 5px;
  border: 1px solid #fff;
  padding: 7px 10px 7px 10px;
  transition: .3s;
}

.buttonMain3:hover {
  box-shadow: 0px 0px 10px #fff;
  color: tomato;
  text-shadow: 1px 1px 1px tomato;
  text-decoration: none;
  transition: .3s;
}

.slide2 {
  text-shadow: 1px 1px 2px #000;
  width: 37%;
}

.sliderTextWrapperTop {
  position: absolute;
  z-index: 2;

  margin: 8% 35%;

  width: 30%;
  color: tomato;
  text-align: center;
}

/*About Section --------------------------------------------------------------*/

.aboutSectionWrapper {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
}

.sectiontextWrapper {
  margin: 14% 0% 10% 5%;
  width: 35%;
  height: auto;
}

.sectiontextWrapper h1 {
  font-size: 3em;
  color: tomato;
  text-shadow: 1px 1px 1px #cc1f00;
}

.sectiontextWrapper p {
  font-size: 1.5em;
  color: tomato;
}

.aboutSectionExampleWrapper {
  margin: 5% 5% 10% 0%;
  width: 35%;
  height: auto;
  background-color: tomato;
}

.aboutSectionExampleWrapper h1 {
  text-align: center;
}

/*Profile Row --------------------------------*/

.profileExample {
  padding: 30px 20px;
  display: flex;
  justify-content: space-around;
  background-color: #ff7d66;
}

.profileDarker {
  background-color: tomato;
}

.profileExample hr {
  margin: 0px 0px 10px 0px;
  padding: 0px;
}

.profilePicExample {
  width: 160px;
  height: 160px;
  border-radius: 170px;
}

.infoRow {
  margin-left: 10px;
  padding: 5px;
  width: 70%;
}

.infoRow h2 {
  margin: 0px 0px 0px -1px;
}

.initialInfoExmaple {
  display: flex;
  justify-content: flex-start;
}

.initialInfoExmaple h4 {
  width: 35%;
  position: relative;
}

/*About Section --------------------------------------------------------------*/

.playdateSection {
  height: 750px;
  background-color: tomato;
  text-align: center;
}

.playdateSection h1 {
  font-size: 3em;
  padding: 30px 0px 30px 0px;
}

.playdateExample {
  width: 75%;
  height: 500px;
  margin: 0px auto;
}

.playdateExample p {
  margin: 0px auto;
  text-align: center;
  font-size: 1.3em;
  width: 50%;
}

.playdateImageWrapper {
  margin-top: 75px;
}

.playdateImage {
  width: 20%;
  border-radius: 200px;
}

.arrowImg {
  width: 40%;
  height: auto;
  margin-top: -200px;
  padding: 0px 50px 0px 50px;
  transform: rotate(5deg);
}

.reversedVert {
  transform: rotate(185deg);
}

.bottom {
  width: 30%;
  position: absolute;
  margin-top: 10%;
}

/*Signup Section -------------------------------------------------------------*/

.signupSection img {
  position: relative;
  width:50%;
  display: inline-block;
}

.signupSectionText {
  width: 50%;
  display: inline-block;

  padding: 0px 50px 0px 50px;
}

.signupSectionText h1 {
  font-size: 3em;
  color: tomato;
}

.signupSectionText p {
  color: tomato;
  font-size: 1.5em;
}

/*About Page -----------------------------------------------------------------*/

.aboutWrapper {
  margin-top: -28px;
  width: 100%;
  height: 750px;
  background-image: url('./images/aboutPageBackground.jpg');
  background-position: cover;
}

.aboutWrapper h1 {
  text-align: center;
  padding-top: 75px;
  font-size: 3em;
  text-shadow: 1px 1px 1px tomato;
}

.aboutPageHeader {

}

/*SignUp Page ----------------------------------------------------------------*/

.signUpWrapper {
  background-color: tomato;
  width: 40%;
  margin: 200px auto;
  height: auto;
  padding: 15px;
}

.signUpWrapper h2 {
  text-align: center;
  margin: 0px auto 30px;
}

.signUpForm {
  width: 60%;
  margin: 0 auto;
  display: block;
}

.signUpWrapper label {
  font-size: 1.3em;
}

.formInput {
  width: 100%;
  padding: 3px;
  color: black;
  font-size: 1.3em;
  margin: 0 auto;
  border-radius: 5px;
  border: none;
}

.formSubmit {
  color: tomato;
  background-color: #fff;
  width: 30%;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 1.3em;

  transition: .3s;
}

.formSubmit:hover {
  text-shadow: 0px 0px 0px red;
  box-shadow: 0px 0px 15px red;
  transition: .3s;
}
/*Footer CSS -----------------------------------------------------------------*/

footer {
  height: 150px;
  background-color: tomato;
}

.footerCrown {
  position: absolute;
  width: 100%;
  height: auto;
  margin-top: -2.5%;
}

footer ul {
  padding: 20px;
  list-style: none;
}

.footerMenu li {
  font-size: 1.3em;
}

/*Miscellaneous CSS*/

.animatedUnderline {
  display: inline-block;
	position: relative;
	padding-bottom: 3px;
}

.animatedUnderline:after {
  content: '';
	display: block;
	margin: auto;
	height: 1px;
	width: 0px;
	background: transparent;
	transition: width .5s ease, background-color .5s ease;
}

.animatedUnderline:hover:after {
  width: 100%;
	background: #fff;
}
