/* main style sheet*/

body {
  font-family: raleway;
  color: white;
}

header {
  height: 60px;
  background-color: tomato;
}

.headerLogo {
  max-height: 60px;
  padding: 5px;
  display: block;
  float: left;
}

header p {
  float: left;
  font-size: 2.5em;
}

.profileIcon {
  margin-top: -6px;
  max-height: 40px;
  padding: 5px;
  float: left;
  display: block;
  border-radius: 25px;
  transition: .3s;
}

.profileIcon:hover {
  background-color: red;
  box-shadow: 0px 0px 5px red;
  transition: .3s;
}

header ul {
  margin-top: 16px;
  float: right;
  width: 25%;
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.headerMenu li {
  font-size: 1.5em;
}

.headerLink {
  color: #fff;
  text-decoration: none;
  transition: .3s;
}

.headerLink:hover {
  color: #fff;
  text-shadow: 1px 1px 2px #cc1f00;
  text-decoration: none;
  transition: .3s;
}



/*Slider CSS*/

.carousel-indicators {
  margin-bottom: 35px;
}

.carousel-indicators li {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  margin: 0 5px 0 5px;
}

.carousel-indicators .active {
  color: tomato;
  background-color: tomato;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  margin: 0 5px 0 5px;
}

.sliderTextWrapper {
  position: absolute;
  z-index: 2;

  margin-left: 15%;
  margin-top: 10%;

  width: 30%;
}

.sliderTextWrapper h2, .sliderTextWrapperTop h2 {
  font-size: 3em;
}

.sliderTextWrapper p, .sliderTextWrapperTop p {
  font-size: 1.5em;
}

.buttonMain1 {
  background-color: tomato;
  color: #fff;
  font-size: 1.5em;
  border-radius: 5px;
  border: 1px solid tomato;
  padding: 7px 10px 7px 10px;
  transition: .3s;
}

.buttonMain1:hover {
  box-shadow: 0px 0px 5px tomato;
  color: red;
  text-decoration: none;
  transition: .3s;
}

.buttonMain2 {
  background-color: none;
  color: tomato;
  font-size: 1.5em;
  border-radius: 5px;
  border: 1px solid tomato;
  box-shadow: 0px 0px 5px red;
  padding: 7px 10px 7px 10px;
  transition: .3s;
}

.buttonMain2:hover {
  background-color: tomato;
  color: #fff;
  text-decoration: none;
  transition: .3s;
}

.slide2 {
  text-shadow: 1px 1px 2px #000;
  width: 37%;
}

.sliderTextWrapperTop {
  position: absolute;
  z-index: 2;

  margin: 8% 35%;

  width: 30%;
  color: tomato;
  text-align: center;
}

/*About Section --------------------------------------------------------------*/

.aboutSectionWrapper {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
}

.sectiontextWrapper {
  margin: 15% 0% 15% 5%;
  width: 35%;
  height: 300px;
  background-color: tomato;
}

.aboutSectionExampleWrapper {
  margin: 5% 5% 10% 0%;
  width: 35%;
  height: auto;
  background-color: tomato;
}

.aboutSectionExampleWrapper h1 {
  text-align: center;
}

/*Profile Row --------------------------------*/

.profileExample {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  background-color: #ff7d66;
}

.profileDarker {
  background-color: tomato;
}

.profileExample hr {
  margin: 0px 0px 10px 0px;
  padding: 0px;
}

.profilePicExample {
  width: 160px;
  height: 160px;
  border-radius: 170px;
}

.infoRow {
  margin-left: 10px;
  padding: 5px;
  width: 70%;
}

.infoRow h2 {
  margin: 0px 0px 0px -1px;
}

.initialInfoExmaple {
  display: flex;
  justify-content: flex-start;
}

.initialInfoExmaple h4 {
  width: 35%;
  position: relative;
}




/*Footer CSS -----------------------------------------------------------------*/

footer {
  height: 200px;
  background-color: tomato;
}

.footerCrown {
  position: absolute;
  width: 100%;
  height: auto;
  margin-top: -2.5%;
}

footer ul {
  list-style: none;
}

.footerMenu li {
  font-size: 1.3em;
}

/*Miscellaneous CSS*/

.animatedUnderline {
  display: inline-block;
	position: relative;
	padding-bottom: 3px;
}

.animatedUnderline:after {
  content: '';
	display: block;
	margin: auto;
	height: 1px;
	width: 0px;
	background: transparent;
	transition: width .5s ease, background-color .5s ease;
}

.animatedUnderline:hover:after {
  width: 100%;
	background: #fff;
}
